.App {
  text-align: center;
}

.di-light {
  color: grey;
}

.di-spinner {
  color: #a0d8ef;
  position: absolute;
  margin: 0;
  top: 30%;
  left: 42%;
}

.carouselImg img,
.panel-img {
  margin: 1em auto 1em;
}

.carouselImg img {
  width: auto;
  height: 28.7em;
}

.cat-img {
  height: 180px;
  max-width: 22em;
}

.di-column-wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

.di-column {
  border: 1px #bbb solid;
  border-radius: 6px;
  padding: 1em;
  background-color: #f7f9f9;
}

.dv-number {
  text-align: right;
}

.di-stats {
  margin-top: 1em;
}

.dv-star-rating {
  margin-top: 0.5em;
}

.dv-star-rating-star {
  margin-right: 0.4em;
}

.form-control-label {
  margin-top: 0.6em;
}

.modal-header {
  color: white;
  background-color: red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Override bootstrap widths, make the container as large as window*/
/* Without this, the hamburger menu doesnt show on some pages??*/
/* Because the page width seems too large or the navbar gets truncated??*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .di-column-container{
    border: none;
    height: 100%;
    width: 90%;
    margin: 1em auto auto auto;
  }

  .di-favorites {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .cat-img {
    height: 180px;
    max-width: 15em;
  }

  .di-column-wrapper {
    position: static;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .di-column-container{
    border: none;
    height: 100%;
    width: 90%;
    margin: 1em auto auto auto;
  }

  .di-favorites {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .cat-img {
    height: 180px;
    max-width: 15em;
  }

  .di-column-wrapper {
    position: static;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .di-column-container{
    position: absolute;
    margin: 3em auto auto auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35.2em;
    width: 100%;
    border: none;
    padding: 1em 0;
  }

  .di-favorites {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .cat-img {
    height: 180px;
    max-width: 15em;
  }

  .di-column-wrapper {
    position: absolute;;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .di-column-container{
    position: absolute;
    margin: 3em auto auto auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35.2em;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 1em 0;
  }
  .di-column-wrapper {
    position: absolute;;
  }

  .di-favorites {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .di-column-container{
    position: absolute;
    margin: 3em auto auto auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35.2em;
    width: 95%;
    border: 1px #bbb solid;
    border-radius: 6px;
    padding: 1em 0;
  }

  .di-favorites {
    margin-top: 0em;
  }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
  .di-column-container{
    position: absolute;
    margin: 3em auto auto auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35.2em;
    width: 80%;
    border: 1px #bbb solid;
    border-radius: 6px;
    padding: 1em 0;
  }

  .di-favorites {
    margin-top: 0em;
  }
}
