.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.di-column {
  border: 1px #bbb solid;
  border-radius: 6px;
  padding: 1em;
}

.dv-star-rating {
  margin-top: 0.5em;
}

.dv-star-rating-star {
  margin-right: 0.4em;
}

.carouselImg img,
.panel-img {
  margin: 1em auto 1em;
}

.carouselImg img {
  width: auto;
  height: 25em;
}

.cat-img {
  max-height: 180px;
  min-height: 180px;
  min-width: auto;
  min-height: auto;
}

.form-control-label {
  margin-top: 0.6em;
}

.modal-header {
  color: white;
  background-color: red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
