.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.di-column-container {
  position: absolute;
  margin: 3em auto auto auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34em;
  width: 80em;
  border: 1px #bbb solid;
  border-radius: 6px;
  padding: 1em;
}

.di-column-wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

.di-column {
  border: 1px #bbb solid;
  border-radius: 6px;
  padding: 1em;

}

.di-stats {
  margin-top: 2em;
}

.dv-star-rating {
  margin-top: 0.5em;
}

.dv-star-rating-star {
  margin-right: 0.4em;
}

.carouselImg img,
.panel-img {
  margin: 1em auto 1em;
}

.carouselImg img {
  width: auto;
  height: 25em;
}

.cat-img {
  max-height: 180px;
  min-height: 180px;
  min-width: auto;
  min-height: auto;
}

.form-control-label {
  margin-top: 0.6em;
}

.modal-header {
  color: white;
  background-color: red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
